{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email sender</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>
<body>

    <h2 align="center" style="padding-top: 20px;">Email sender</h2>

    {% block content %}



    {% endblock %}

</body>
</html>